@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f8f4ef;
  color: #2b2927;
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-playfair);
}

.section {
  @apply py-24;
}

.container-custom {
  @apply max-w-7xl mx-auto px-6 lg:px-8;
}

.btn-primary {
  @apply rounded-full bg-[#b8794b] text-white px-7 py-3 transition-all duration-300 hover:bg-[#9e663d];
}

.hero-image {
    clip-path: polygon(
        18% 0%,
        100% 0%,
        100% 100%,
        0% 100%,
        0% 62%
    );
}